<div style="margin-bottom: 1rem">
    <h1 style="color: #41b7b3;">Festival Alternatiba Léman</h1>
    <span style="color: #41b7b3;font-style: italic;">Samedi 24 Septembre 2016</span>
</div>

<input type="radio" id="info-link" name="tabs" checked/>
<input type="radio" id="images-link" name="tabs"/>
<ul class="page_menu">
    <li><label for="info-link">Info</label></li>
    <li><label for="images-link">En images</label></li>
</ul>

<div id="info-tab" class="page_menu_tab">

    <p>Nous avons eu ainsi  le plaisir de vous voir nombreux à notre stand sur la Plaine de Plainpalais à Genève, secteur Agriculture / Climat.</p>

    <p>Grâce à notre stand au Festival Alternatiba Léman, nous avons pu accueillir des nouveaux amis et membres dans l'association. 60 nouveaux intéressés se sont inscrits à la mailing liste de Genève cultive!</p>

    <p>Notre objectif est d’élargir le réseau de Genève cultive et de continuer à susciter  de nouvelles initiatives autour du jardinage urbain et de l’agriculture urbaine.</p>

    <p>Nous avons préparé une exposition interactive qui présentait le réseau Genève cultive, comprenant  les projets,  expertises, fichiers et photos des projets que vous avez déjà publiés sur la carte interactive de genevecultive.ch.</p>

    <p>Nous somme très fiers  de constater votre intérêt  pour les services que Genève cultive vous propose et compte développer:</p>

    <ul>
    <li>la création d’un réseau pour améliorer la communication entre les acteurs engagés dans les jardins et l'agriculture urbaine, pour promouvoir leurs initiatives et stimuler des nouveaux projets!</li>
    </ul>

    <p>À travers :</p>

    <ul>
        <li>la plate-forme en ligne où vous pouvez trouver:
            <ul>
    <li>une carte où chacun peut inscrire et trouver des projets et initiatives intéressantes autour des jardins et de l'agriculture urbaine,
    INSCRIVEZ VOS JARDINS, POULAILLERS, RUCHES ETC !!!</li>
    <li>un forum pour échanger p.ex. des engrais de lombricomposte avec des semences ou lancer une discussion avec le réseau;</li>
    <li>les nouvelles;</li>
    <li>des experts;</li>
    <li>bientôt aussi: un accès aux informations/savoir-faire de nos experts de notre réseau dans chaque catégorie.</li>
            </ul>
        </li>

    <li>L’organisation de deux événements par an afin de présenter, promouvoir et stimuler les projets du canton de Genève!</li>
    </ul>

    <p>Notre but est aussi de récolter vos suggestions et questions afin de pouvoir répondre sur  le site ou lors des soirées thématiques organisées par l’association à vos questions.</p>

    <p><b>Merci d’être venus découvrir notre stand et échanger avec notre équipe et d’avoir contribué ainsi  à enrichir le réseau Genève Cultive! :-)</b></p>

    <p>Venez nombreux lors des autres activitées organisées par Genève cultive et soutenez-nous en vous inscrivant comme membre de l’association!</p>

    <p>Merci de passer le mot dans votre entourage! :-)</p>


    <p>L'équipe de <i>Genève Cultive</i></p>

</div>

<div id="images-tab" class="page_menu_tab">
    <div class="image-container">
        <img src="http://i.imgur.com/t7uhAKt.jpg" />
    </div>
    <p>Encore des images à venir. Merci de votre patience.</p>
    <p>L'équipe de <i>Genève Cultive</i></p>
</div>



<div id="carrousel" class="overlay">
    <div class="content"></div>
    <div class="close">x</div>
    <div class="previous vertical-center next-previous"><span><</span></div>
    <div class="next vertical-center next-previous"><span>></span></div>
</div>

