<h1>But et objectifs de la plate-forme</h1>

<h2>Notre philosophie</h2>

<p>L’association vise à soutenir l’agriculture urbaine, les jardins urbains et les produits bio et rares.<br>
Cela n'empêche pas que les producteurs locaux ou les fermes en campagne sont les bienvenus sur la plate-forme ainsi que les acteurs du Grand Genève afin de donner une idée de ce qui existe dans le canton et du-delà.<br>
Nous donnons une priorité aux passionnés qui s’occupent des jardins, ruches ou poulaillers urbains et qui partagent la philosophie de l’association de l’échange libre de produits et du savoir-faire et de créer des nouvelles relations et amitiés.<br>
En même temps la plate-forme est ouverte aux producteurs, fermes, agriculteurs, viticulteurs et maraîchers afin de donner une idée des produits locaux et de contribuer aux informations statistiques concernant les types de produits, les zones de production, etc.</p>

<p>La plate-forme peut générer des nouvelles opportunités entrepreneuriales, nouveaux postes de travail et des sources de données importantes pour l’administration publique. Par exemple dans la classification des jardins urbains et de l’agriculture urbaine, il existe la catégorie de “fermes urbaines” pour soutenir la création d’autres initiatives similaires.</p>

<p>Notre but est aussi de soutenir la <i>Charte des Jardins</i> et de collaborer avec les jardiniers urbains pour améliorer la biodiversité des potagers urbains, accueillir les animaux (oiseaux, hérissons) et les insectes (abeilles, papillons etc.) et contribuer à une continuité des corridors biologiques en milieu urbain.<br>
Finalement, le réseau de la plate-forme “Genève cultive” peut être utilisé par les associations, fondations et institutions engagées dans la sauvegarde du patrimoine naturel et culturel pour élargir les réserves de graines bio et rares et pour les activités éducatives.</p>

<p>La plate-forme genevecultive.ch se présente comme promoteur de nouvelles initiatives, comme indicateur de nouvelles tendances et comme source de données dans le domaine de l’agriculture urbaine afin de partager l’information nécessaire pour éventuellement initier une nouvelle activité.<br>
La philosophie principale de la plate-forme est la participation entre passionnés et la stimulation de nouvelles initiatives dans le canton de Genève.</p>

<h2>But et objectifs</h2>

<p>La plate-forme produit directement et indirectement des multiples bénéfices et les <b>acteurs</b> à Genève qui peuvent en profiter sont divers: administrations publiques, institutions éducatives, producteurs, professionnels, propriétaires des espaces, associations, ONG, groupe et individus.</p>

<p>Genève Cultive aide notamment à:</p>

<ul>
<li>divulguer la vision et les propositions <b>du Service Agenda 21 et du Service Social de la Ville de Genève, de la DGAN du canton de Genève et des Communes du canton</b> pour:
<ul>
    <li>l’engagement pour la biodiversité;</li>
    <li>la convivialité;</li>
    <li>les rencontres intergénérationnelles et interculturelles;</li>
    <li>la qualité de vie;</li>
    <li>la production alimentaire locale, fraîche et saine;</li>
    <li>améliorer ou adapter le paysage urbain aux nécessités des habitants (esthétiques, sécurité, bien-être);</li>
    <li>sensibiliser et se renseigner sur le thème de l’agriculture locale;</li>
    <li>sensibilisation et respect envers la nature;</li>
    <li>l’air propre et le refroidissement de la ville.</li>
</ul></li>
<li>rassembler tous les points d’intérêts sur une <b>carte interactive</b>;</li>
<li>faciliter <b>la communication</b> entre <b>le Canton, la Ville et les Communes</b> et les gens intéressés aux potagers urbains / l’agriculture urbaine;</li>
<li>créer <b>un réseau</b> entre les acteurs existants et futurs, engagés dans l’agriculture urbaine et les potagers urbains;</li>
<li>soutenir <b>les collectifs</b> à faire de l’agriculture urbaine et/ou à créer un potager urbain;</li>
<li>offrir un outil qui rassemble et donne <b>accès direct et plus facile aux informations</b> spécifiques;</li>
<li>favoriser <b>l'économie locale</b> qui promeut le développement durable;</li>
<li>stimulation des activités locales et projets innovateurs, création d’emplois (de solidarité);</li>
<li>organiser des <b>actions et événements participatifs</b> et partager des intérêts en commun;</li>
<li><b>échanger des données</b> de la plate-forme avec les acteurs publics.</li>
</ul>
<p>Les “jardins multi-fonctionnels” et les ateliers organisés avec les acteurs engagés sur les thèmes mentionnés, encouragent les personnes de tout âge à se rencontrer, à développer des nouvelles synergies, à s’engager sur des nouveaux comportements alimentaires et à stimuler l’échange de notions et du savoir faire. Peu importe le niveau de connaissance, la plate-forme s’ouvre aux citoyens motivés et au développement d’une éducation sensible aux besoins de notre terre. S’amuser, faire une activité physique en plein air, cultiver pour répondre aux besoins d'auto-production et/ou idéologiques, s'engager par son propre jardin pour la biodiversité urbaine et le verdissement de la ville et favoriser la réinsertion sociale sont tous les bénéfices qui contribuent à un style de vie plus durable.</p>
