<h1>Classification</h1>

<p>Cette classification constituée de différentes catégories de jardins est le résultat d’une étude qui met en relation les cas existants internationaux et locaux, la littérature relative et nos réflexions autour du terroir genevois. Chacun peut inscrire son jardin, écrire un texte, publier des photos qui présentent la conception du jardin, la technique de culture et les produits. Que ce soit pour le loisir (jardin) ou pour la production marchande (agriculture), les catégories sont organisées “par surface horizontale (en plein terre, hors terre, sur un toit) ou verticale”, “entre individuels et en collectivité” et encore “entre surface qui cherche des jardiniers et jardiniers qui cherchent une surface”…<br>
Dans chaque catégorie on aura soit les jardins pour le loisir soit les cas d’agriculture rentable.<br>
Pour certaines catégories, nous utilisons le terme “urbain” pour désigner l’agriculture ou l’élevage en pleine ville.<br>
Pour les cas traditionnels comme une ferme à la campagne, nous proposons la catégorie “Producteur” par exemple.<br></p>

<h2>Surface à disposition</h2>
<p>Jardin à partager ouvert à des nouveaux jardiniers ou surface résiduelle, en friche, sous utilisée, public ou privée, qui attend de revêtir une identité. Par exemple une toiture végétalisée ou industrielle qui peut être reconvertie. Le propriétaire offre le droit d'utilisation de la surface et pose les conditions d’usage. Les citoyens et acteurs intéressés peuvent présenter leur propre idée.</p>

<h2>Jardins individuels</h2>
<p>Un jardin domestique où une personne cultive des légumes, fruits, fleurs ou herbes aromatiques pour usage personnel. La surface peut être devant la fenêtre, sur le balcon ou la terrasse, dans une cour, entre immeubles - là où on trouve un peu de place pour laisser pousser ses propres légumes, herbes aromatiques ou plants. La culture est libre, dans des pots, bacs, sur terre, en plein air ou dans un jardin d’hiver.</p>

<h2>Jardins en commun</h2>
<p>Un groupe de personnes s’occupe ensemble d’un jardin: une parcelle unique à partager. Les membres choisissent les éléments de leur jardin collectivement comme les espèces à cultiver et la méthode de la culture. Le travail horticole, les compétences et les récoltes sont partagés. Ce type de jardinage convivial est ouvert à tous et constitue une occasion de rencontres pour les habitants d’un quartier. La méthode de culture est souvent inspirée par l’agriculture biologique.</p>

<h2>Jardins partagés</h2>
<p>Un jardin partagé est divisé en parcelles louées et exploitées de manière individuelle. Par contre l’infrastructure, les compétences et aussi les outils et matériaux sont partagés. Le jardin partagé est avant tout un lieu de rencontres, d’activités en commun et de loisirs pour les habitants, les écoles et les crèches du quartier.</p>

<h2>Jardins familiaux</h2>
<p>Un jardin familial est représenté par une surface à cultiver, divisée en petits lotissements à disposition des citoyens. Certaines ressources peuvent être en commun (des outils ou points d’eau). Chaque parcelle est jardinée en autonomie par une seule personne ou une famille et munie de son propre cabanon.  L’organisation est associative et gérée par des bénévoles.</p>

<h2>Jardins sur les toits</h2>
<p>Une toiture peut être végétalisée extensive (gazon, plantes sauvages, fleurs), intensive (légumes, fruits, arbustes, broussailles et arbres) ou simplement aménagé avec des bacs. Une toiture végétalisée intensive a besoin d’un substrat entre 20 et 40cm selon le type de culture. La structure doit supporter la charge, garantir l'étanchéité de la toiture et la sécurité. Malgré les phases de démarrage plus complexes, les avantages d’une toiture végétalisée sont multiples: plus de biodiversité en ville, captation des eaux pluviales, réduction des îlots de chaleur, production alimentaire sur des surfaces « perdues », plus d’efficacité énergétique du bâtiment et durée de vie des toitures.</p>

<h2>Jardins verticaux</h2>
<p>Un jardin vertical peut être un mur végétalisé intérieur, un jardin vertical extérieur, un parement végétal, un mur vivant ou encore une cloison végétale ou séparation verte. Les systèmes d’installation sont donc multiples et qu'ils soient ornementaux ou productifs, ils contribuent au verdissement du milieu.</p>

<h2>Jardins institutionnels</h2>
<p>Le jardin institutionnel appartenant à une institution publique (campus collégial ou universitaire, hôpital, bâtiment gouvernemental, etc) est premièrement un espace public de loisir, de détente, convivial et sans but lucratif. Le jardin embellit les lieux de travail ou d’études et contribue au verdissement du quartier et à la production d’aliments frais. On peut aussi dire qu’il contient une dimension éducative et un message de sensibilisation à une qualité de vie plus durable.</p>

<h2>Jardins d'entreprise</h2>
<p>Le jardin d'entreprise, comme le jardin institutionnel, est un lieu d’embellissement, convivial et de détente pour les employés et les clients de la société, généralement situé dans un espace appartenant à l’entreprise. Les produits frais peuvent être consommés dans la cafétéria interne.</p>

<h2>Fermes urbaines</h2>
<p>Les fermes urbaines de référence internationale, sont situées généralement  sur une surface reconvertie, par exemple une toiture; pour qu’une ferme soit rentable, elle a besoin d’une surface étendue, ce qu’on trouve difficilement à Genève. Cependant une ferme urbaine de petite taille peut subsister grâce à des activités complémentaires. C’est un lieu authentique, convivial, éducatif, qui soutient les produits biologiques, embellit le milieu urbain et crée une nouvelle identité et ressource au cœur du quartier.</p>

<h2>Poulaillers urbains</h2>
<p>Aménager un petit poulailler chez soi  avec des poules indigènes, c’est une des nouvelles tendances à la campagne ou en ville. Cette pratique offre plusieurs avantages: elle nous rapproche des animaux, favorise les cultures vivrières et l'agriculture familiale à petite échelle, participe à la conservation des races autochtones, sensibilise les gens et leur entourage et les encourage à assumer la prise en charge et le bien-être de ces animaux.</p>

<h2>Ruches</h2>
<p>Installer une ruche dans un jardin ou sur une toiture ou encore offrir une maisonnette ou une structure naturelle de nidification pour les abeilles sauvages est une action utile pour un écosystème si important et fragile. Mais il est encore plus important de pouvoir enregistrer les colonies d’abeilles et avoir un réseau qui informe sur les risques et les bonnes pratiques afin de contribuer à la protection de ces animaux précieux et les nouveaux apiculteurs.</p>

<h2>Acquaponie</h2>
<p>L'aquaponie est une forme d'aquaculture intégrée qui associe une culture de végétaux avec l'élevage de poissons comestibles. Les déjections des poissons riches en azote et en phosphore et potassium, sont la source de nutriments pour les plantes, l'aliment apporté aux poissons permet d'enrichir le milieu sous forme d'engrais. Les bactéries aérobies transforment les matières organiques en nitrites puis en nitrates, ces derniers étant assimilables par les plantes sous forme minérale. Les plantes cultivées épurent l’eau de l’aquarium (ou d'un bassin plus grand) par l’assimilation des racines et de leurs symbiotes bactériens.</p>

<h2>Producteurs</h2>
<p>Un producteur ou paysan-producteur ou encore agriculteur-producteur est une personne qui commercialise sa production agricole.<br>
Le canton de Genève est un terroir agricole où la production est très diversifiée. Bien qu’il existe des sites spécialisés, genevecultive.ch invite les producteurs locaux à s’inscrire, pour partager le réseau et donner une vision d’ensemble de l’offre existante et des nouvelles initiatives.<br>
Cette catégorie ne s’applique pas seulement à la production agricole, mais aussi à la pêche et à l'élevage de qualité et de proximité.</p>

<h2>Marchés</h2>
<p>Le marché est un lieu authentique, convivial, porteur de mémoire. Couvert, à l'extérieur ou sous forme de panier (agriculture contractuelle), le marché offre des fruits et légumes, et d’autres produits alimentaires de la région genevoise, du bassin lémanique ainsi que des produits issus de l’agriculture biologique. Parmi les différents produits, on découvre aussi des variétés rares,  qui réintroduisent diversité et goûts dans nos cuisines.</p>