<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <META NAME="robots" CONTENT="index, follow">
    <meta name="viewport" content="width:device-width, initial-scale=1.0">
    <% if (process.env.NODE_ENV === 'production') { %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/build/cultivonsnousprod.css">
        <script src="/javascripts/build/cultivonsnousprod.js"></script>
    <% } else { %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/commun.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/maintemplate.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/carrousel.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/cultivonsnous.css">
        <script src="/javascripts/jquery-1.11.3.js"></script>
        <script src="/javascripts/utils.js"></script>
        <script src="/javascripts/carrousel.js"></script>
        <script src="/javascripts/cultivonsnous/menu.js"></script>
        <script src="/javascripts/cultivonsnous/main.js"></script>
    <% }%>
    <title>Genève Cultive - Deuxième rencontre</title>
    <style>

        .video-container {
            height: 28rem;
            margin: 2rem auto;
            width: 50%;
        }
        .video-container video,
        .video-container span {
            display: block;
        }

        .video-container span.title {
            padding-bottom: 0.5rem;
            font-size: 1.6rem;
            color: #41b7b3;
        }

        .video-container span.credits {
            text-align: right;
            font-size: 0.8rem;
            padding-top: 0.5rem;
        }
    </style>
</head>
<body>
<%var selected = "none";%>

<% include header.ejs %>

<% var templateContent = "deuxieme-rencontre-content.ejs" %>

<% include main-template.ejs %>
</body>
</html>