<div style="margin-bottom: 1rem">
    <h1 style="color: #41b7b3;">Deuxième rencontre Genève Cultive</h1>
    <span style="color: #41b7b3;font-style: italic;">Vendredi 20 Janvier 2017</span>
</div>

<input type="radio" id="info-link" name="tabs" checked/>
<input type="radio" id="images-link" name="tabs"/>
<input type="radio" id="files-link" name="tabs"/>
<input type="radio" id="videos-link" name="tabs"/>
<ul class="page_menu">
    <li><label for="info-link">Info</label></li>
    <li><label for="images-link">En images</label></li>
    <li><label for="files-link">Fichiers</label></li>
    <li><label for="videos-link">Vidéos</label></li>
</ul>

<div id="info-tab" class="page_menu_tab">

    <p>Suite au grand succès du premier événement organisé le 20 mai dernier, l’association Genève cultive a eu le plaisir d’organiser la “Deuxième rencontre du réseau Genève cultive” le vendredi 20 janvier 2017 à l’Espace de Quartier de Sécheron.</p>

    <p>Lors de cette soirée publique,  nous nous sommes focalisés sur <b>un thème de grande actualité : les  jardins sur les toits!</b></p>

    <p>La soirée a été l’occasion de passer un moment convivial ensemble, de découvrir des initiatives de jardins sur les toits à Genève et essayer de répondre à quelques questions que le réseau Genève cultive a déposé sur notre Forum!</p>

    <p>Les intervenants invités ont présenté 3 projets de jardins sur les toits (à l’état d’idée, en cours, réalisé) et les experts qui sont  impliqués dans ces projets nous ont donné leur point de vue sur les différentes thématiques (techniques, juridiques, participatives, méthodes de culture…):</p>

    <ul>
    <li>Un potager sur le toit d’un immeuble géré par le restaurant au rez-de-chaussée?</li>
    <li>Le potager sur le toit de l’Ecoquartier de la Codha à la Jonction</li>
    <li>Le Bio Potager sur le toit d’un bâtiment de l’Hepia</li>
    </ul>

    <p>Nos objectifs ont été atteints:</p>

    <ul>
    <li>fournir un nombre d'informations utiles au public concernant le thème des  jardins sur les toits</li>
    <li>aider les projets en cours de développement en répondant  à leurs besoins</li>
    <li>donner visibilité aux experts et aux initiatives locales  concernant  les  jardins sur les toits</li>
    <li>mettre en réseau les acteurs intéressés au thème.</li>
    </ul>

    <p>Nous avons aussi parallèlement invité des représentants des Services de la Ville et du Canton de Genève qui soutiennent  les citoyens dans leur  démarche de réalisation d'un jardin urbain ou d’un projet d'agriculture urbaine. Et nos amis voisins,  de la Ville de Lausanne sont venus partager leur expérience avec nous.</p>

    <p>Nous sommes très heureux de la réussite de la soirée et  tenons à adresser un remerciement particulier aux personnes qui sont toujours  là pour nous soutenir : l’équipe de Genève cultive, les membres, les bénévoles, les amis, les représentants publics, les partenaires et les nouveaux participants. Et surtout un grand merci aux intervenants qui nous apportent leurs expériences et expertises et qui, à travers leur engagement et projets, enrichissent le sujet des jardins sur les toits à Genève.</p>

    <p><b>Merci à tous de votre intérêt pour l’association Genève Cultive et de partager ses buts!</b></p>

    <p>L'équipe de <i>Genève Cultive</i></p>

</div>

<div id="images-tab" class="page_menu_tab">
    <div class="content">
        <div class="image-container">
            <img src="http://i.imgur.com/lT9xz8k.jpg"/>
            <span>Marie Damien Pierre</span>
        </div>
        <div class="image-container">
            <img src="http://i.imgur.com/ecJT3SP.jpg">
            <span>Marie Damien Pierre</span>
        </div>
        <div class="image-container">
            <img src="http://i.imgur.com/sRZDvhb.jpg">
            <span>Marie Damien Pierre</span>
        </div>
        <div class="image-container">
            <img src="http://i.imgur.com/nHWOLta.jpg">
            <span>Marie Damien Pierre</span>
        </div>
        <div class="image-container">
            <img src="http://i.imgur.com/XJzSIey.jpg"/>
            <span>Marie Damien Pierre</span>
        </div>
        <div class="image-container">
            <img src="http://i.imgur.com/fuzzq8T.jpg"/>
            <span>Marie Damien Pierre</span>
        </div>
        <div class="image-container">
            <img src="http://i.imgur.com/RxI3aes.jpg"/>
            <span>Marie Damien Pierre</span>
        </div>
        <div class="image-container">
            <img src="http://i.imgur.com/c9Bc4kq.jpg"/>
            <span>Marie Damien Pierre</span>
        </div>
        <div class="image-container">
            <img src="http://i.imgur.com/DsreIr6.jpg"/>
            <span>Marie Damien Pierre</span>
        </div>
        <div class="image-container">
            <img src="http://i.imgur.com/NHsKAxt.jpg"/>
            <span>Marie Damien Pierre</span>
        </div>
        <div class="image-container">
            <img src="http://i.imgur.com/XMvQQDo.jpg"/>
            <span>Marie Damien Pierre</span>
        </div>
        <div class="image-container">
            <img src="http://i.imgur.com/ZxhN6wc.jpg"/>
            <span>Dominique</span>
        </div>
        <div class="image-container">
            <img src="http://i.imgur.com/JaJcK84.jpg"/>
            <span>Dominique</span>
        </div>
        <div class="image-container">
            <img src="http://i.imgur.com/8u7mIot.jpg"/>
            <span>Dominique</span>
        </div>
        <div class="image-container">
            <img src="http://i.imgur.com/Sxz1DeQ.jpg"/>
            <span>Dominique</span>
        </div>
        <div class="image-container">
            <img src="http://i.imgur.com/Xow6I7f.jpg"/>
            <span>Dominique</span>
        </div>
        <div class="image-container">
            <img src="http://i.imgur.com/vy4wBQ7.jpg">
        </div>
    </div>
</div>

<div id="files-tab" class="page_menu_tab">

    <h2><a class="link" target="_blank" href="http://mczdekhm.preview.infomaniak.website/wp-content/uploads/2017/03/2017_01_20_Geneve_Cultive_Présentation_Phelan_Leverington.pdf">Jardin sur le toit de l’écoquartier CODHA (Phelan Leverington)</a></h2>
    <h2><a class="link" target="_blank" href="http://mczdekhm.preview.infomaniak.website/wp-content/uploads/2017/03/2017_01_20_Geneve_Cultive_Présentation_Bio_di_potager_hepia.pdf">Le BIO di potager sur le toit de l’Hepia (Ewa Renaud, Sophie Rochefort, Amandine Fontaine)</a></h2>
    <h2><a class="link" target="_blank" href="http://mczdekhm.preview.infomaniak.website/wp-content/uploads/2017/03/2017_01_20_Geneve_Cultive_Présentation_Dreier_Frenzel.pdf">Jardin sur le toit de l’écoquartier CODHA ( Dreier Frenzel Architecture)</a></h2>
    <h2><a class="link" target="_blank" href="http://mczdekhm.preview.infomaniak.website/wp-content/uploads/2017/03/2017_01_20_Geneve_Cultive_Présentation_Gaétan_Morel.pdf">Programme Nourrir la ville (Gaétan Morel, Agenda 21, ville de Genève)</a></h2>
    <h2><a class="link" target="_blank" href="http://mczdekhm.preview.infomaniak.website/wp-content/uploads/2017/03/2017_01_20_Geneve_Cultive_Présentation_MBAASA.pdf">Un potager sur le toit d’un immeuble (Mechkat/Bouldin architectes)</a></h2>
    <h2><a class="link" target="_blank" href="http://mczdekhm.preview.infomaniak.website/wp-content/uploads/2017/03/2017_01_20_Geneve_Cultive_Présentation_Pascal_Aubert.pdf">Les Toitures végétalisées (Pascale Aubert, Déléguée à la nature, Lausanne)</a></h2>
    <h2><a class="link" target="_blank" href="http://mczdekhm.preview.infomaniak.website/wp-content/uploads/2017/03/2017_01_20_Geneve_Cultive_Présentation_Patrik_Fouvy.pdf">Programme Nature en ville (Patrick Fouvy, Département de l’environnement, Etat de Genève)</a></h2>
</div>

<div id="videos-tab" class="page_menu_tab">

    <div class="video-container">
        <span class="title">Les jardins sur les toits: représentants de services publics.</span>
        <video id="video-355-1" width="100%" controls>
            <source src="http://mczdekhm.preview.infomaniak.website/wp-content/uploads/2017/04/gc_1_v6_fast_720p30_quality20.mp4"
                    type="video/mp4">
        </video>
        <span class="credits">Crédits: Marie Storme, Damien Soto, Pierre Voltchkoff</span>
    </div>

    <div class="video-container">
        <span class="title">Les jardins sur les toits: trois projets à Genève.</span>
        <video id="video-355-2" width="100%" controls>
            <source src="http://mczdekhm.preview.infomaniak.website/wp-content/uploads/2017/04/gc_2_v6_fast_1080p30_quality22.m4v"
                    type="video/mp4">
        </video>
        <span class="credits">Crédits: Marie Storme, Damien Soto, Pierre Voltchkoff</span>
    </div>

</div>

<div id="carrousel" class="overlay">
    <div class="content"></div>
    <div class="close">x</div>
    <div class="previous vertical-center next-previous"><span><</span></div>
    <div class="next vertical-center next-previous"><span>></span></div>
</div>