<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <META NAME="robots" CONTENT="index, follow">
    <meta name="viewport" content="width:device-width, initial-scale=1.0">
    <% if (process.env.NODE_ENV === 'production') { %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/build/expertsprod.css">
    <% } else { %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/commun.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/maintemplate.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/experts.css">
    <% }%>
    <title>Genève Cultive - Les Spécialistes</title>
    <style>
        #devenirExpert .st0{fill:#7C6949;}
        #devenirExpert .st1{fill:#B0CE23;}
        #devenirExpert .st2{fill:none;stroke:#FFFFFF;stroke-width:0.75;}
        #devenirExpert {
            margin-left: 3em;
            margin-top: 3em;
        }
    </style>
</head>
<body>
<%var selected = "consulting";%>

<% include header.ejs %>

<% var templateContent = "experts-content.ejs" %>

<% include main-template.ejs %>
</body>
</html>