<h1>Les Spécialistes</h1>

<p>Voilà le réseau genevois autour des jardins urbains et de l’agriculture urbaine.<br/>
    Ici vous trouverez les adresses des spécialistes, associations, fondations, institutions, entreprises, les responsables du Canton, de la Ville et des Communes de Genève et toutes les personnes qui peuvent vous aider à réaliser votre projet pour élargir la biodiversité sur le canton de Genève.<br/>
</p>
<p>
    Si vous êtes un spécialiste dans votre domaine, vous pouvez aussi figurer dans la section SPÉCIALISTES et faire partie du réseau Genève cultive et ainsi partager votre expérience et votre savoir-faire (voir rubrique <a href="/soutenez-nous">Devenez membre</a>).</p>
<div class="expert-section">
    <div class="expert-section-container">
        <div class="experts-in-section">
            <div class="expert">
                <img src="http://mczdekhm.preview.infomaniak.website/wp-content/uploads/2017/06/carrotteRouge-e1496776635634.jpg">
                <h2>Agriculture urbaine</h2>
                <h1>Les Carottes Rouges</h1>
                <div class="description"><p>Bureau de Conseils en environnement, formé par quatre conseillers  (WWF/SANU), spécialisé dans les projets privés ou publiques, d’aménagements de potagers hors sol en matériaux recyclés, avec suivis de projet, formations pédagogiques pour les crèches, les écoles primaires et secondaires et conseils sanitaires et techniques.</p></div>
                <div><span class="font-icon organism" title="Organisme">&#xf19c;</span><span class="organism-text">Les Carottes Rouges SARL</span></div>
                <div><span class="font-icon manager" title="Responsable">&#xf007;</span><span class="manager-text">Cédric Jelk</span></div>
                <div><span class="font-icon email" title="Email">&#xf0e0;</span><span class="email-text">cjelk@netplus.ch</span></div>
                <div><span class="font-icon tel" title="Mobile">&#xf10b;</span><span class="tel-text">-</span></div>
                <div><span class="font-icon website" title="Site Web">&#xf0ac;</span><span class="website-text">-</span></div>
            </div>



            <div class="expert">
                <img src="http://www.apidae.ch/images/Logo-Apidae.png">
                <h2>Sauvegarde des abeilles et sensibilisation & Apiculture urbaine</h2>
                <h1>Association Apidae</h1>
                <div class="description"><p>L’association Apidae est une association qui œuvre pour la protection des abeilles dans le grand Genève.  Spécialiste dans l’implantation de ruches en ville, sa mission est de sensibiliser les citoyens à l’importance des abeilles pour notre écosystème.<br/>
                    Pour cela, nous proposons la location de ruches en ville aussi bien pour les particuliers, les entreprises ou les institutions. En sus, nous réalisons la création de prairies fleuries, d’aménagements pour abeilles sauvages ainsi que des activités de sensibilisation avec les communes ou les écoles.<br/>
                    Afin de remplir davantage notre mission de sensibilisation, nous avons récemment conçu des projets « Miel de quartier » avec des maisons de quartier.<br/>
                    Ces projets consistent à l’implantation de ruches dans un quartier afin de fédérer les habitants de celui-ci dans une dynamique participative et inclusive autour du développement durable et plus particulièrement de la protection des pollinisateurs. Les habitants sont invités à participer eux même à la gestion de la ruche, la récolte de miel, etc. Ils peuvent pleinement contribuer au projet en implantant sur leurs balcons des kits de jardinières fleuries permettant aux abeilles du quartier de récolter du nectar et de produire ainsi un miel typiquement du quartier.<br/>
                    Contactez-nous pour l’implantation de vos projets de ruches, de conception d’aménagements pour pollinisateurs (hôtel à insecte, prairie fleuries, haies mellifères) vos projets pédagogiques ou de sensibilisation!<br/></p></div>
                <div><span class="font-icon organism" title="Organisme">&#xf19c;</span><span class="organism-text">Association Apidae</span></div>
                <div><span class="font-icon manager" title="Responsable">&#xf007;</span><span class="manager-text">Périat Cédric</span></div>
                <div><span class="font-icon email" title="Email">&#xf0e0;</span><span class="email-text">contact@apidae.ch</span></div>
                <div><span class="font-icon tel" title="Mobile">&#xf10b;</span><span class="tel-text">-</span></div>
                <div><span class="font-icon website" title="Site Web">&#xf0ac;</span><span class="website-text"><a href="http://www.apidae.ch" target="_blank">www.apidae.ch</a></span></div>
            </div>


            <div class="expert">
                <img src="http://mczdekhm.preview.infomaniak.website/wp-content/uploads/2017/07/semenece_pays-e1499709790437.jpg">
                <h2>Semences locales</h2>
                <h1>Semences de Pays</h1>
                <div class="description"><p>Depuis 2009, l'association semences de pays sélectionne, maintient et multiplie des semences de variétés maraîchères issues principalement de sélections paysannes locales.<br/>
                    Ces variétés, développées avec patience par les maraîchers des siècles passés, sont acclimatées et rustiques. Elles témoignent d’un savoir-faire et d’usages traditionnels, et représentent un précieux trésor de biodiversité locale, indispensable à l'avenir de l'agriculture.<br/>
                    Nous nous attachons à poursuivre ce travail de sélection en lien avec un terroir et ses conditions de production, dans l’esprit de l’agriculture paysanne. Nous acclimatons aussi des variétés de semences paysannes venues d’ailleurs, comme le poivron Kurtovska et le piment Del Padron, dont nous cultivons les porte-graines en plein champ depuis plusieurs années.<br/>
                    En janvier 2016, nous nous sommes installés sur le site de belle-idée à Chêne-Bourg, à deux pas de la ferme de François Grosjean, où lui et sa famille ont cultivé et sélectionné pendant des décennies l’essentiel des variétés du genevois que nous vous proposons aujourd’hui.<br/>
                    Venues de Chancy, de Savoie, de Thoune ou de Plainpalais, nos variétés vivent désormais leurs cycles vitaux entre le Salève et le Jura, dans vos potagers, dans vos champs, sur vos balcons, et bien-sûr dans vos assiettes, où s’exprime leur saveur, qui joue un rôle essentiel dans nos critères de sélection.<br/>
                    <b>Cours 'le cycle de reproduction des semences'</b></br>
                    Pour plus d'info cliquez <a href="https://semencesdepays.ch/cours/" target="_blank">ici</a>.</br>
                    <b>Marché aux plantons et vente de semences</b></br>
                    Pour plus d'info cliquez <a href="https://semencesdepays.ch/plantons/" target="_blank">ici</a>.</br>
                    <b>Ventes de nos semences</b></br>
                    Ferme de Budé, Ferme de la Touvière, Magasins Landi</p></div>
                <div><span class="font-icon organism" title="Organisme">&#xf19c;</span><span class="organism-text">Association Semences de Pays</span></div>
                <div><span class="font-icon manager" title="Responsable">&#xf007;</span><span class="manager-text">Nicole Petitpierre</span></div>
                <div><span class="font-icon email" title="Email">&#xf0e0;</span><span class="email-text">info@semencesdepays.ch</span></div>
                <div><span class="font-icon tel" title="Mobile">&#xf10b;</span><span class="tel-text">076 361 23 89</span></div>
                <div><span class="font-icon website" title="Site Web">&#xf0ac;</span><span class="website-text"><a href="http://semencesdepays.ch" target="_blank">semencesdepays.ch</a></span></div>
            </div>

            <div class="expert">
                <img src="http://mczdekhm.preview.infomaniak.website/wp-content/uploads/2017/07/permabondance_logo200-e1499709758574.jpg">
                <h2>Permaculture</h2>
                <h1>Permabondance</h1>
                <div class="description">
                    <p>
                        Le collectif PERMABONDANCE est composé de quatre personnes partageant les valeurs de la permaculture et désireuses de voir de plus en plus de personnes sensibilisées à cette philosophie.Le collectif PERMABONDANCE est composé de quatre personnes partageant les valeurs de la permaculture et désireuses de voir de plus en plus de personnes sensibilisées à cette philosophie.<br/>
                        Pour renforcer notre action nous nous sommes organisés en collectif pour le plaisir de travailler ensemble et pouvoir ainsi répondre avec efficacité à toute demande liée à un projet permacole dans l’arc lémanique.<br/>
                        Nous proposons, seuls ou à plusieurs, différents ateliers et stages ainsi que du design :</p>
                        <ul>
                            <li>Des stages d’initiation à la permaculture sur deux jours mêlant théorie et pratique afin de comprendre les multiples dimensions de la permaculture, sa méthode de conception, son éthique, sa philosophie.</li>
                            <li>Des ateliers ou des stages d’une journée pour découvrir la Permaculture.</li>
                            <li>Des ateliers thématiques en fonction des saisons, de nos expériences ou nos/vos envies/besoins.</li>
                            <li>La mise en place et le suivi de potagers pour des privés, des écoles ou d’autres institutions privées ou publiques.</li>
                            <li>Des ateliers de sensibilisation à la permaculture dans les écoles, les communes, les entreprises…</li>
                            <li>Des conférences ou autres interventions.</li>
                            <li>Du design, c’est à dire l’aménagement de votre espace, que ça soit votre jardin, votre balcon, votre terrasse… De la conception à la mise en place.</li>
                        </ul>
                        <p>Nous vous accueillons les lundis de 10h à 18h à la Genferei au 8 Rue de la Faucille, quartier des Grottes – Genève (Passez nous quand même un petit coup de fil avant de passer pour être sûr de trouver quelqu’un)</p>
                </div>
                <div><span class="font-icon organism" title="Organisme">&#xf19c;</span><span class="organism-text">Collectif Permabondance</span></div>
                <div><span class="font-icon manager" title="Responsable">&#xf007;</span><span class="manager-text">Jennifer, Timothée, Daphné, Marco</span></div>
                <div><span class="font-icon email" title="Email">&#xf0e0;</span><span class="email-text">contact@permabondance.ch</span></div>
                <div><span class="font-icon tel" title="Mobile">&#xf10b;</span><span class="tel-text">-</span></div>
                <div><span class="font-icon website" title="Site Web">&#xf0ac;</span><span class="website-text"><a href="http://www.permabondance.ch/" target="_blank">http://www.permabondance.ch/</a></span></div>
            </div>

            <div class="expert">
                <img src="http://i.imgur.com/656HEJl.jpg">
                <h2>Cuisine & plantes sauvages</h2>
                <h1>Catherine Huber</h1>
                <div class="description">
                    <p>
                        Passionnée de Nature, d’écologie, de patrimoine et de plantes sauvages depuis l’enfance, grâce à un grand-père qui m’a transmis ses savoirs et savoir-faire.<br/>
                        Au fil du temps j’ai élargi la palette de mes connaissances en me formant à la biodynamie dans une ferme en Haute Savoie (Marlioz 1994-1995) j’y suis également devenue fromagère.<br/>
                        J’ai tenu un petit domaine en agriculture biologique en Espagne (1995-2000), cultivant et soignant la vigne, les oliviers, les amandiers, les caroubiers, les figuiers selon les méthodes traditionnelles, produisant de l’huile d’olive et du vin ainsi que du pain cuit dans un four à bois. Sur les lieux il n’y avait pas d’électricité et l’eau venait de la pluie, récoltée dans une grande citerne creusée dans la roche.<br/>
                        Au cours de l’année 2000 je me suis formée à la fromagerie bio (chèvres) en Ardèche chez Pierre Rabhi.<br/>
                        En Corrèze j’ai pu pratiquer une apiculture labellisée bio et en production de gelée royale (2001-2002). J’y ai également suivi une école de cuisine professionnelle.<br/>
                        En 2004, j’ai créé les « Ateliers d’Âme Nature » afin de transmettre mes savoirs à un plus large public.<br/>
                        J’anime régulièrement des sorties botaniques afin de sensibiliser le public sur les richesses de notre patrimoine botanique et l’immense réservoir de nourriture qu’il représente.<br/>
                        Je pratique une cuisine végétarienne et biologique depuis 25 ans, par souci d’éthique, en utilisant des ingrédients le plus possible locaux et de saison. J’enseigne la cuisine à des particuliers et à des professionnels.<br/>
                    </p>
                </div>
                <div><span class="font-icon organism" title="Organisme">&#xf19c;</span><span class="organism-text">les Ateliers d’Âme Nature</span></div>
                <div><span class="font-icon manager" title="Responsable">&#xf007;</span><span class="manager-text">Catherine Huber</span></div>
                <div><span class="font-icon email" title="Email">&#xf0e0;</span><span class="email-text">cathuber@laposte.net</span></div>
                <div><span class="font-icon tel" title="Mobile">&#xf10b;</span><span class="tel-text">+41 78 834 90 28</span></div>
                <div><span class="font-icon website" title="Site Web">&#xf0ac;</span><span class="website-text">-</span></div>
            </div>
            <!--<div class="expert">-->
                <!--<img src="http://i.imgur.com/N5bGROR.jpg">-->
                <!--<h2>Permaculture</h2>-->
                <!--<h1>Jenny Webster</h1>-->
                <!--<div class="description"><p>Depuis 2010, Jennifer voyage à travers le monde afin de participer et d'apporter son soutien et ses connaissances permacoles.-->
                    <!--Après un premier CDP avec Bernard Alonso au Portugal en 2010, elle est directement partie en Ethiopie afin de mettre en pratique et partager les outils acquis.-->
                    <!--Ses voyages et projets permacoles l'ont amenée à partager son savoir au Maroc, en Inde, en Ethiopie et au Canada ou elle a apprit avec Bernard Alonso, Stefan Sobkowiak et Mark Krawczyk.-->
                    <!--Elle est depuis peu de retour en Suisse ou elle a créé le réseau 'PermAbondance' dans sa région et organise des ateliers de Permaculture en lien avec les autres permaculteurs de la région lémanique.-->
                    <!--Passionée de créer des Paysages Vivants autour d’elle, Jennifer inclus ses passions pour l’art, l’humain et la cuisine dans ses formations afin de recréer des liens.<br/>-->
                    <!--Depuis le mois de janvier 2016, Jennifer propose des week-ends d’introductions à la permaculture dans un jardin à Aubonne. Les thèmes abordés lors de ces week-ends varient selon les moments de la saison et les besoins du jardin. Elle a également commencé un jardin au centre pour migrant Feuillasse de Meyrin, elle donne et intervient dans des cours de Permaculture pour des institutions et des privés et crée des Design permacoles chez les particuliers qui souhaitent transformer leur jardin. </p></div>-->
                <!--<div><span class="font-icon organism" title="Organisme">&#xf19c;</span><span class="organism-text">-</span></div>-->
                <!--<div><span class="font-icon manager" title="Responsable">&#xf007;</span><span class="manager-text">-</span></div>-->
                <!--<div><span class="font-icon email" title="Email">&#xf0e0;</span><span class="email-text">jenjenwebster7@gmail.com</span></div>-->
                <!--<div><span class="font-icon tel" title="Mobile">&#xf10b;</span><span class="tel-text">+41 78 752 66 26</span></div>-->
                <!--<div><span class="font-icon website" title="Site Web">&#xf0ac;</span><span class="website-text">-</span></div>-->
            <!--</div>-->
            <!--<div class="expert">-->
                <!--<img src="http://i.imgur.com/50aQV9P.jpg">-->
                <!--<h2>Permaculture & plantes sauvages</h2>-->
                <!--<h1>Timothée Jeannotat</h1>-->
                <!--<div class="description">-->
                    <!--<p>-->
                    <!--Timothée Jeannotat, certifié en permaculture et correspondant local du réseau de permaculture "Brin de Paille" pour le Grand Genève.<br>-->
                    <!--De part l'envie de transmission et de partage de savoirs, j'anime des ateliers autour de la permaculture, du jardinage naturel et écologique et des plantes sauvages comestibles. J'ai aussi l'envie d'animer "ateliers nature" pour les plus petits.<br>-->
                    <!--Pour une reconquête de notre souveraineté alimentaire, une certaine autonomie ou simplement le plaisir de cultiver son jardin, je propose aussi de la consultation pour la mise en place de vos espaces nourriciers et, pour aller plus loin, le design de systèmes permaculturels.<br>-->
                    <!--Ma démarche vis-à-vis du jardin est guidée par la création de systèmes harmonieux, productifs et diversifiés demandant peu d'entretien. Je m'intéresse aussi beaucoup aux plantes peu communes mais souvent très intéressantes qui permettent de redécouvrir la biodiversité dans le jardin et la cuisine.<br>-->
                    <!--</p>-->
                <!--</div>-->
                <!--<div><span class="font-icon organism" title="Organisme">&#xf19c;</span><span class="organism-text">-</span></div>-->
                <!--<div><span class="font-icon manager" title="Responsable">&#xf007;</span><span class="manager-text">-</span></div>-->
                <!--<div><span class="font-icon email" title="Email">&#xf0e0;</span><span class="email-text">timothee.jeannotat@gmail.com</span></div>-->
                <!--<div><span class="font-icon tel" title="Mobile">&#xf10b;</span><span class="tel-text">+41 77 451 01 71</span></div>-->
                <!--<div><span class="font-icon website" title="Site Web">&#xf0ac;</span><span class="website-text">-</span></div>-->
            <!--</div>-->
            <!--<div class="expert">-->
                <!--<img src="http://i.imgur.com/dP9Mlac.png" style="border: 1px solid #939393">-->
                <!--<h2>Jardinage écologique & permaculture</h2>-->
                <!--<h1>Marco Leschot</h1>-->
                <!--<div class="description"><p>Après une vie dédiée à la musique et à la préservation de la diversité culturelle,-->
                    <!--j'ai opéré une reconversion professionnelle en devenant jardinier.-->
                    <!--Passionné de nature depuis toujours également,-->
                    <!--j'ai suivi un stage de certification en permaculture et,-->
                    <!--après avoir travaillé plusieurs mois avec mon prédécesseur,-->
                    <!--j'ai repris avec beaucoup d'enthousiasme sa petite entreprise de jardinage écologique.<br/>-->
                    <!--Mon but aujourd'hui est de préserver et favoriser la biodiversité indigène dans les jardins,-->
                    <!--de planter des graines et des arbres dans le sol mais aussi dans la tête des individus rencontrés au travers de mon travail,-->
                    <!--afin de développer de bonnes attitudes respectant la nature tout en créant de l'abondance.<br/>-->
                    <!--Mes compétences et les services que je propose:<br/>-->
                    <!--<ul>-->
                        <!--<li>Design de projet en permaculture, réalisation et suivi des travaux.-->
                            <!--Entretien de jardin, taille fruitière, taille ornementale;</li>-->
                        <!--<li>Création et entretien de potagers, coffrages en bois, mandalas, buttes, petites mares, swale...</li>-->
                        <!--<li>Livraison et épandage de copeaux de bois pour mulcher;</li>-->
                        <!--<li>Ouvert à toute proposition.</li>-->
                    <!--</ul></p></div>-->
                <!--<div><span class="font-icon organism" title="Organisme">&#xf19c;</span><span class="organism-text">-</span></div>-->
                <!--<div><span class="font-icon manager" title="Responsable">&#xf007;</span><span class="manager-text">-</span></div>-->
                <!--<div><span class="font-icon email" title="Email">&#xf0e0;</span><span class="email-text">m.leschot@gmail.com</span></div>-->
                <!--<div><span class="font-icon tel" title="Mobile">&#xf10b;</span><span class="tel-text">+41 78 897 54 21</span></div>-->
                <!--<div><span class="font-icon fix-tel" title="Téléphone">&#xf095;</span><span class="tel-text">+41 22 732 35 24</span></div>-->
                <!--<div><span class="font-icon website" title="Site Web">&#xf0ac;</span><span class="website-text">-</span></div>-->
            <!--</div>-->
        </div>
    </div>
</div>

<div id="devenirExpert">
    <% include ../public/images/devenir_expert.svg%>
</div>