<h1>Cultivons Nous</h1>

<p>Bienvenue à notre <i>Cultivons-nous</i> où vous trouverez des activités organisées par Genève Cultive ainsi que des informations sur nos  belles rencontres, riches en informations et échanges!</p>
<p>Un grand merci à tous les participants!</p>

<h2><a class="link" href="/aperos-decouvertes-ferme-lignon">Apéros-découvertes à la ferme <span style="font-size: 0.7em;">Samedi 21 Octobre 2017</span></a></h2>
<!--<h2><a class="link" href="/aperos-decouvertes-jardins-urbains-geneve-pieds-verts">Apéros-découvertes de jardins urbains et péri-urbains de Genève <span style="font-size: 0.7em;">à définir</span></a></h2>-->
<h2><a class="link" href="/troisieme-rencontre-geneve-cultive">Troisième rencontre de Genève Cultive <span style="font-size: 0.7em;">Vendredi 9 Juin 2017</span></a></h2>
<h2><a class="link" href="/aperos-decouvertes-jardins-urbains-geneve-troinex">Apéros-découvertes de jardins urbains et péri-urbains de Genève <span style="font-size: 0.7em;">Samedi 27 Mai 2017</span></a></h2>
<h2><a class="link" href="/aperos-decouvertes-jardins-urbains-geneve">Apéros-découvertes de jardins urbains et péri-urbains de Genève <span style="font-size: 0.7em;">Samedi 29 Avril 2017</span></a></h2>
<h2><a class="link" href="/deuxieme-rencontre-geneve-cultive">Deuxième rencontre de Genève Cultive <span style="font-size: 0.7em;">Vendredi 20 Jan 2017</span></a></h2>
<h2><a class="link" href="/alternatiba-geneve-cultive">Festival Alternatiba Léman <span style="font-size: 0.7em;">Samedi 24 Sep 2016</span></a></h2>
<h2><a class="link" href="/premiere-rencontre-geneve-cultive">Première rencontre de Genève Cultive <span style="font-size: 0.7em;">Vendredi 20 Mai 2016</span></a></h2>
