<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <META NAME="robots" CONTENT="index, follow">
    <meta name="viewport" content="width:device-width, initial-scale=1.0">
    <% if (process.env.NODE_ENV === 'production') { %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/build/communprod.css">
    <% } else { %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/commun.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/maintemplate.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
    <% }%>
    <style>
        .link {
            color: #41b7b3;
            font-size: 1.25em;
        }
    </style>
    <title>Genève Cultive - Cultivons Nous</title>
</head>
<body>
<%var selected = "cultivons-nous";%>

<% include header.ejs %>

<% var templateContent = "galerie-content.ejs" %>

<% include main-template.ejs %>
</body>
</html>