<div class="content-container">
    <div class="column-right">
        <div id="calendarhook"></div>
    </div><div class="column-left">

    <!--<a href="/aperos-decouvertes-ferme-lignon">-->
        <!--<div style="-->
        <!--position: static;-->
        <!--width: 16em;-->
        <!--text-align: center;-->
        <!--margin: 2em auto;-->
        <!--color: #41b7b3;-->
        <!--font-weight: bold;"><span>Apéros-découvertes à la ferme</span></div>-->
        <!--<div style="background: url(/images/accueil_sigle_sanstexte.svg) no-repeat;-->
        <!--background-size: 18em 14em;-->
        <!--position: static;-->
        <!--width: 18em;-->
        <!--height: 14em;-->
        <!--margin: 0em auto;"></div>-->
        <!--<div style="background-size: 13em 10em;-->
        <!--position: static;-->
        <!--width: 13em;-->
        <!--margin: 1em auto;-->
        <!--color: #41b7b3;-->
        <!--text-align: center;-->
        <!--font-size: 1.6em">Samedi 21 Octobre<br/>de 11h à 13h<br/>Ferme du Lignon</div>-->
    <!--</a>-->

    <div style="font-size: 1.6em; text-align: center; color: #41b7b3;;">
        <b>Quatrième rencontre de Genève cultive<br/>
            Vendredi 17 novembre dès 19h<br/>
            Réservez cette date dans vos agendas</b>
    </div>

</div><div class="column-center">

    <%- include(templateContent) %>

</div>


    <div class="bottom">
        <div class="column-right">

        </div>
        <div class="column-left">

        </div>
        <div class="column-center">

        </div>
    </div>

</div>

<div class="bottom">
    <div class="column-right">

    </div>
    <div class="column-left">

    </div>
    <div class="column-center">

    </div>
</div>



<div class="licence">
    <span style="display: block">info@genevecultive.ch</span>
    <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-nc-sa/2.5/ch/">
        <img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/2.5/ch/80x15.png" />
    </a>
</div>