<h1>Association Genève cultive</h1>

<p><b>L’association Genève cultive</b> a été créée en octobre 2015 afin de promouvoir notre idée de plate-forme d’échange pour les acteurs qui s'investissent dans les jardins urbains et l’agriculture urbaine. Notre espoir est aussi de contribuer à plus de nature et biodiversité dans le milieu urbain.</p>

<p><b>L’association Genève cultive</b> poursuit les <b>objectifs</b> suivants:</p>

<ul>

    <li>mettre en contact les citoyens engagés et intéressés au sujet des jardins et de l’agriculture urbaine et intéressés par les initiatives qui y sont liées;</li>
    <li>mettre en contact les propriétaires d’une surface cultivable sous-utilisée, avec les citoyens du Canton de Genève souhaitant jardiner mais n’ayant pas accès à un tel espace;</li>
    <li>stimuler l’esprit de partage, le troc, le recyclage;</li>
    <li>favoriser les rencontres et les rapports interculturels et intergénérationnels;</li>
    <li>promouvoir producteurs et marchés locaux et les produits de proximité, bio et rares;</li>
    <li>mettre en visibilité les spécialistes (associations, fondations, entreprises etc.) et les collectifs qui travaillent dans le secteur;</li>
    <li>créer un réseau entre les acteurs et spécialistes locaux;</li>
    <li>informer et sensibiliser sur les thèmes du développement durable en ville et soutenir les communes et le Canton qui patronnent ce sujet.</li>


</ul>

<p><b>L’association Genève cultive</b> met en place:</p>

<ul>

    <li>la plate-forme en ligne et la gestion du site web (carte, forum, informations sur les thèmes du développement durable, information sur les événements et les nouvelles dans le monde autour du jardinage urbain / de l’agriculture urbaine);</li>
    <li>les actions participatives pour soutenir le démarrage d'un collectif, d'un jardin où d'une idée innovante qui porte sur l'agriculture urbaine et tous les thèmes qui y sont liés, en mettant à disposition le réseau de référence de l'association;</li>
    <li>un service de conception pour les institutions et entreprises intéressées aux projets novateurs concernant l'agriculture urbaine.</li>

</ul>

<div id="contactezNous">
    <% include ../public/images/contactez_nous.svg%>
</div>