<h1 style="color: #000000">Nouvelles</h1>

<p>Sur la page “Nouvelles”, on ne trouve pas seulement les nouveautés, événements et programmes autour du jardinage et de l’agriculture (urbaine) à Genève, mais on peut aussi se mettre à jour sur ce  qui se passe dans les différents coins du monde comme des nouveaux projets d’architecture (p.ex.  fermes sur les toitures) ou des initiatives citoyennes (p.ex. “incroyables comestibles”) ainsi que des nouvelles techniques de culture (p.ex. permaculture, aquaponie). </p>

<%include nouvelles-section-and-template%>

<div class='scrolltop'>
    <div class="center-div">
        <div class='scroll font-icon button-icon' title="Haut de page">&#xf102</div>
    </div>
</div>