<div id="nouvelles-section-id" class="nouvelles-section">
    <!--NEWS LOADED ASYNC-->
    <div class="error-message hide">
        <div class="error-icon"></div>
        <div>
            <p>Un imprévu est arrivé lors du chargement des nouvelles.</p>
            <p>Si ce comportement persiste merci de nous l'annoncer à <i>postmaster@genevecultive.ch</i>.</p>
            <p>Nous ferons le nécessaire pour fixer le problème au plus vite.</p>
        </div>
    </div>
</div>


<div id="nouvelles-template" class="hide">
    <div class="single-nouvelle-container">
        <a class="anchor"></a>
        <span class="font-icon edition-icon" title="Modifier">&#xf044</span>
        <div class="image"></div>
        <div class="extensible-buttons hide">
            <span class='font-icon extend-button button-icon' title='Étendre'>&#xf175</span>
            <span class='font-icon collapse-button button-icon hide' title='Réduire'>&#xf176</span>
        </div>
        <div class="nouvelle-text-container">
            <h1 class="subject">Titre de la nouvelle</h1>
            <span class="from"></span>
            <span class="to"></span>
            <div class="text">
                <p>Content de la nouvelle avec les images prenant tous le large si pas float</p>
            </div>
            <a href="#" class="url-link" title="Aller vers ce lien" target="_blank"><span>Lien</span></a>
            <div class="fb-like" data-href="" data-width="200" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
            <span class="edition-date">Dernière édition</span>
            <div style="clear: right"></div>
        </div>
        <div><span class="font-icon visible-icon" title="Visibilité"></span></div>
        <span class="author">Auteur</span>
        <div class="id hide" ></div>
    </div>
</div>

<div id="fb-root"></div>
