<div style="margin-bottom: 1rem">
    <h1 style="color: #41b7b3;">Première rencontre Genève Cultive</h1>
    <span style="color: #41b7b3;font-style: italic;padding-bottom: 1rem">Vendredi 20 Mai 2016</span>
</div>

<input type="radio" id="info-link" name="tabs" checked/>
<input type="radio" id="images-link" name="tabs"/>
<ul class="page_menu">
    <li ><label for="info-link">Info</label></li>
    <li><label for="images-link">En images</label></li>
</ul>

<div id="info-tab" class="page_menu_tab">

    <p>La <b>Première rencontre du réseau Genève cultive</b> a eu lieu à l’<a target="_blank" href="http://www.ville-geneve.ch/plan-ville/loisirs-jeux/espace-quartier-secheron/">Espace de Quartier de Sécheron</a></p>.

    <p>En premier lieu, nous remercions chaleureusement toutes les personnes qui ont participé à cette soirée. Elle a permis de réunir un panel de projets issus de milieux très différents représentatif de l’agriculture et du jardinage urbains à Genève et dans les communes avoisinantes</p>.

    <p>L’objectif de cette première rencontre a été pleinement atteint:</p>
    <ul>
        <li>montrer et donner de la visibilité à quinze projets parmi de multiples initiatives originales;</li>
        <li>échanger des idées, discuter, rencontrer des personnes qui partagent les mêmes valeurs;</li>
        <li>stimuler l’envie de “faire”, de mettre les mains dans la terre, encourager de nouvelles expériences et se donner les moyens de les réaliser;</li>
        <li>encourager un état d’esprit positif qui permet de trouver des solutions dans les mille contraintes que l’on peut rencontrer dans la réalisation des projets;</li>
        <li>créer une osmose entre la créativité et l’enthousiasme pour des idées innovantes.</li>
    </ul>

    <p>La sympathie et la convivialité des participants ont largement  contribué à rendre cette soirée spéciale et unique, stimulante et légère à la fois, mais surtout nous a permis de passer un moment passionnant et  très convivial tous ensemble.</p>

    <p>Merci à tous de votre participation et intérêt pour l’association Genève cultive!</p>

    <p>Venez nombreux lors des autres activitées organisées par Genève cultive et soutenez-nous en vous inscrivant comme membre de l’association!</p>

    <p>L'équipe de <i>Genève Cultive</i></p>

</div>

<div id="images-tab" class="page_menu_tab">
    <div class="image-container">
        <img src="http://i.imgur.com/LCMeeCJ.jpg" />
    </div>
    <p>Encore des images à venir. Merci de votre patience.</p>
    <p>L'équipe de <i>Genève Cultive</i></p>
</div>



<div id="carrousel" class="overlay">
    <div class="content"></div>
    <div class="close">x</div>
    <div class="previous vertical-center next-previous"><span><</span></div>
    <div class="next vertical-center next-previous"><span>></span></div>
</div>
