<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <META NAME="robots" CONTENT="index, follow">
    <meta name="viewport" content="width:device-width, initial-scale=1.0">
    <% if (process.env.NODE_ENV === 'production') { %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/build/communprod.css">
    <% } else { %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/commun.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/maintemplate.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
    <% }%>
    <style>
        .soutenez-nous td {
            padding: 0em 0.5em;
        }

        @media screen and (min-width: 67em) {
            .soutenez-nous td {
                padding: 0em 1em;
            }
        }
    </style>
    <title>Genève Cultive - Devenez membre</title>
</head>
<body>
<%var selected = "sponsor";%>

<% include header.ejs %>

<% var templateContent = "soutenez-nous-content.ejs" %>

<% include main-template.ejs %>

</body>
</html>