<h1>Devenez membre</h1>

<p>Votre  cotisation contribue au fonctionnement de l’association  :</p>

<ul>
    <li>maintenance et mise à jour du site <b>genevecultive.ch</b></li>
    <li>organisation de deux soirées thématiques par an, les <b>Rencontres du réseau Genève cultive</b></li>
    <li>organisation de <b>Apéros-découvertes de jardins urbains et péri-urbains de Genève</b></li>
    <li>Service de premiers conseils</li>
    <li>Développement de nouveaux projets et activités de Genève cultive</li>
</ul>

<p class="separator" style="text-align: center">--------------------------------</p>

<p>Pour que les <b>cotisations</b>  soient les plus équitables possible, nous proposons une « cotisation en conscience* » : </p>

<p><b>Membre :</b></p>
<ul>
    <li>Particulier : 10.- et plus selon vos moyens</li>
    <li>Famille (voir petite organisation)</li>
</ul>


<p>Pour les organisations : voici une indication de cotisation selon votre taille, vous pouvez ensuite choisir en conscience le montant qui vous paraît adéquat.</p>

<ul>
    <li>Petite organisation : 100.- Jusqu’à 100.000.- de chiffre d’affaire</li>
    <li>Moyenne  organisation : 300.- jusqu’à 500.000.- de chiffre d’affaire</li>
    <li>Grande organisation : 500.- jusqu’à 1.000.000.- de chiffre d’affaire</li>
</ul>

<p><b>Pour figurer sur la page des “spécialistes” : </b></p>

<ul>
    <li>Indépendant : 60.-</li>
    <li>organisation, voir ci-dessus</li>
</ul>

<p>L’activité doit s’inscrire dans le domaine de la nature, des jardins ou de l’agriculture urbaine dans la région genevoise et partager les buts et la mission de Genève cultive. <u>Tout indépendant ou organisation doit soumettre une présentation qui sera validée par le comité.</u></p>

<p style="font-size: 1.3em"><b>*une cotisation en conscience, qu'est-ce que c'est?</b> C'est une cotisation que vous évaluez vous-même selon vos moyens et votre conscience à l'aide d'une grille proposée par l'association. A Genève Cultive la cotisation minimum est de 10.-frs pour des particuliers et 100.- frs pour des organisations.</p>

<p class="separator" style="text-align: center">--------------------------------</p>


<p>Vous trouverez ci-dessous les coordonnées bancaires :</p>

<table class="soutenez-nous">
    <tr>
        <td><span><b>Bénéficiaire</b></span></td><td><span>Genève Cultive</span></td>
    </tr>
    <tr>
        <td><span><b>CCP</b></span></td><td><span>14-957681-9</span></td>
    </tr>
    <tr>
        <td><span><b>IBAN</b></span></td><td><span>CH94 0900 0000 1495 7681 9</span></td>
    </tr>
</table>

<p><b>Merci de nous envoyer un mail nous faisant part de votre adhésion</b> avec vos coordonnées pour que nous puissions communiquer avec vous et vous ajouter dans notre mailing liste.</p>

<p>Si vous souhaitez nous soutenir avec un parrainage, merci de nous contacter sur <b>info@genevecultive.ch</b></p>

<p>L'association Genève cultive est fiscalement exonérable: <b>Votre don est déductible d’impôt!</b></p>

<p><b>Merci par avance de votre intérêt pour nos projets ainsi que  de votre participation!</b></p>