<div style="margin-bottom: 1rem">
    <h1 style="color: #41b7b3;">Troisième rencontre Genève Cultive</h1>
    <span style="color: #41b7b3;font-style: italic;">Vendredi 9 Juin 2017</span>
</div>

<input type="radio" id="info-link" name="tabs" checked/>
<ul class="page_menu">
    <li><label for="info-link">Info</label></li>
</ul>

<div id="info-tab" class="page_menu_tab">

    <p>Nous avons déjà partagé ensemble <b>deux soirées thématiques !</b></p>

    <p>Nous serons très heureux de vous accueillir lors de la <b><i>Troisième Rencontre du réseau Genève cultive</i> le vendredi 9 juin à l’</b><a target="_blank" href="http://www.ville-geneve.ch/plan-ville/loisirs-jeux/espace-quartier-secheron/">Espace de Quartier de Sécheron</a>, <b>dès 19h</b>. (entrée libre).</p>

    <p>Une occasion privilégiée lors de laquelle vous seront présentées de multiples et  belles initiatives qui germent et se développent  dans le canton. L’opportunité aussi de rencontrer d’autres personnes passionnées comme nous.</p>

    <p>Réservez d’ores et déjà la date du 9 juin.</p>

    <p>L'équipe de <i>Genève Cultive</i></p>

    <div style="width: 80%; margin: auto;">
        <img style="width: 100%" src="/images/2017_06_09_programme.jpg">
    </div>


</div>